html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #1f57af;
  background: #e4eff9;
  margin: 0;
  padding: 0
}

.app-navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
}

.app-outlet {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.app-outlet-header {
  width: 100%;
  height: 64px;
}

.app-flex-container {
  max-width: 1200px;
  margin: auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-flex-container > * {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

@media all and (max-width: 900px) {
  .app-flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .app-flex-container > * {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
}

.app-flex-container md-card {
  margin: 20px 20px 0px 20px;
  color: #1f57af;
  background: #ccd9f0;
  min-width: 320px;
  min-height: 74px;
}

@media all and (min-width: 1024px) {
  .app-flex-container md-card {
    margin: 40px 40px 0px 40px;
  }
}
@media all and (min-width: 1200px) and (min-height: 1000px) {
  .app-flex-container md-card {
    margin: 100px 100px 0px 100px;
  }
}

.app-flex-container md-card-subtitle {
  color: #1f57af;
}

.app-flex-container [md-card-avatar] {
  border-radius: 0;
}
