html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #1f57af;
  background: #e4eff9;
  margin:0;
  padding:0
}

.app-content {
  min-height: 100vh;
}

.app-content md-content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

hinnasto, ajanvaraus, yhteystiedot, kartta, esittely, aukioloaika, peruutus, julkinen, parkki,khl {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;

  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;

  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.app-content md-card {
  margin: 20px;
  color: #1f57af;
  background: #89aade;
  min-height: 110px;
  min-width: 320px;
}

@media all and (max-width: 900px) {
  .app-content md-content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;

    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  hinnasto, ajanvaraus, yhteystiedot, kartta, esittely, aukioloaika, peruutus, julkinen, parkki,khl {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  .app-content md-card {
    margin: 10px;
  }
}

@media all and (min-width: 1024px) {
  .app-content md-card {
    margin: 40px;
  }
}

.app-content md-card-subtitle {
  color: #1f57af;
}
