<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">
  <link rel="icon" href="/favicon.png">

  <title>
    <%= webpackConfig.metadata.title %>
  </title>
  <meta name="description" content="<%= webpackConfig.metadata.description %>">
</head>

<body style="background-color:#e4eff9;">
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://www.hieroja-minnakauppinen.fi",
    "contactPoint": [
      { "@type": "ContactPoint",
        "telephone": "+358 50 5477 811",
        "contactType": "reservations",
        "availableLanguage": ["Finnish","English"],
        "areaServed": "FI"
      }
    ]
  }
  </script>
  <app class="app">
    Ladataan ...
  </app>

  <% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
  <% } %>
</body>
</html>
